.bg-image {
  background-image: url(https://res.cloudinary.com/dskmjlma4/image/upload/v1654780142/my-portfolio/wave-haikei_1_vcwi4a.svg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
